<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: linear-gradient(to left ,#032961,#4588ee);">
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar custom-header" style="background-color: linear-gradient(to left ,#032961,#4588ee);">
    <div class="header-left">  
      <img src="assets/images/blink.png" alt="not found" width="220px" height="45px">
    </div>
    <ul class="navbar-nav ml-auto" style="padding-right: 80px;">  
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" style="color: rgb(255, 255, 255);padding-right:15px;">
          <i class="fas fa-house"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" style="color: rgb(255, 255, 255);padding-right:15px;">
          <i class="fas fa-user-plus"></i> Sign Up
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" style="color: rgb(255, 255, 255);padding-right:15px;">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>
<hr class="black-line">

