<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5gsj__0gkOVkXrueprM1hnAC1vLWBQn0" async defer></script>

  <title>Blink</title>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="banner-text" style="padding-top: 200px;">
          <h2 class="gradient">Blink - A Real-Time Chat Experience</h2>
          <p style="color: white; padding-top:30px;">Blink is a dynamic real-time chat application. It facilitates instant communication, allowing users to connect and engage in seamless conversations. With its focus on speed and ease of use, Blink aims to bridge the gap between users in a timely and interactive manner.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12" style="padding-top: 180px; padding-left: 160px;">
        <img src="assets/images/logo.png" width="400px" height="200px">
      </div>
    </div>
  </div>

 
</body>

</html>
