body {
     margin: 0; 
    background: linear-gradient(to left ,#032961,#4588ee);
  }
  .gradient {

    background-image: linear-gradient(to left, #ad841f, #cfcd3f);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    }
    .map-container {
      height: 400px;
      width: 100%;
    }
   